<section class="heading">
    <aside class="box-1">
      <h2>We’ve got properties for everyone</h2>
  
      <h1 class="sub">Take a deep dive and browse homes for sale.</h1>
    </aside>
    <aside class="box-2">
      <aside class="cards">
        
        <img class="img" src="../../assets/page-3/3d-electric-car-building.jpg" />
        <aside class="sales">
          <span class="material-icons-round tag">
            local_offer
            </span>
          <h1>Sales</h1>
        </aside>
        <aside class="img-down">
          <aside class="box-1">
            <span class="material-icons-round loc">
              location_on 
              </span>
              <h1>California city,CA,USA</h1>
          </aside>
          <aside class="box-2">
            <span class="material-icons-round vid">
              videocam
              </span>
              <span class="material-icons-round cam">
                photo_camera
                </span>
                <span>07</span>
          </aside>
         
  
        </aside>
        <aside class="texts">
          <aside class="text-1">
              <h1>55 wall st aprt 720 NY</h1>
            <aside class="star">
              
              <span class="material-icons-round starr"> star_rate </span>
              <h1 class="rating">4.5 (5.0)</h1>
            </aside>
          </aside>
          <aside class="text-2">
            <aside class="box-1">
              <span class="material-icons-round b"> bed </span> <h1>4</h1>
              <span class="material-icons-round b"> shower </span><h1>3</h1>
              <span class="material-icons-round b"> zoom_out_map </span><h1>1200 sq ft</h1>
            </aside>
            <aside class="box-2">
              <h1 class="dollar"  style="color: #FD683E;">$ 850,000</h1>
            </aside>
          </aside>
        </aside>
      </aside>
      <aside class="cards">
        
        <img class="img" src="../../assets/page-3/analog-landscape-city-with-buildings.jpg" />
        <aside class="sales">
          <span class="material-icons-round tag">
            local_offer
            </span>
          <h1>Sales</h1>
        </aside>
        <aside class="img-down">
          <aside class="box-1">
            <span class="material-icons-round loc">
              location_on 
              </span>
              <h1>California city,CA,USA</h1>
          </aside>
          <aside class="box-2">
            <span class="material-icons-round vid">
              videocam
              </span>
              <span class="material-icons-round cam">
                photo_camera
                </span>
                <span>07</span>
          </aside>
         
  
        </aside>
        <aside class="texts">
          <aside class="text-1">
              <h1>55 wall st aprt 720 NY</h1>
            <aside class="star">
              
              <span class="material-icons-round starr"> star_rate </span>
              <h1 class="rating">4.5 (5.0)</h1>
            </aside>
          </aside>
          <aside class="text-2">
            <aside class="box-1">
              <span class="material-icons-round b"> bed </span> <h1>4</h1>
              <span class="material-icons-round b"> shower </span><h1>3</h1>
              <span class="material-icons-round b"> zoom_out_map </span><h1>1200 sq ft</h1>
            </aside>
            <aside class="box-2">
              <h1 class="dollar"  style="color: #FD683E;">$ 850,000</h1>
            </aside>
          </aside>
        </aside>
      </aside>
      <aside class="cards">
        
        <img class="img" src="../../assets/page-3/modern-apartment-architecture.jpg" />
        <aside class="sales">
          <span class="material-icons-round tag">
            local_offer
            </span>
          <h1>Sales</h1>
        </aside>
        <aside class="img-down">
          <aside class="box-1">
            <span class="material-icons-round loc">
              location_on 
              </span>
              <h1>California city,CA,USA</h1>
          </aside>
          <aside class="box-2">
            <span class="material-icons-round vid">
              videocam
              </span>
              <span class="material-icons-round cam">
                photo_camera
                </span>
                <span>07</span>
          </aside>
         
  
        </aside>
        <aside class="texts">
          <aside class="text-1">
              <h1>55 wall st aprt 720 NY</h1>
            <aside class="star">
              
              <span class="material-icons-round starr"> star_rate </span>
              <h1 class="rating">4.5 (5.0)</h1>
            </aside>
          </aside>
          <aside class="text-2">
            <aside class="box-1">
              <span class="material-icons-round b"> bed </span> <h1>4</h1>
              <span class="material-icons-round b"> shower </span><h1>3</h1>
              <span class="material-icons-round b"> zoom_out_map </span><h1>1200 sq ft</h1>
            </aside>
            <aside class="box-2">
              <h1 class="dollar"  style="color: #FD683E;">$ 850,000</h1>
            </aside>
          </aside>
        </aside>
      </aside>
  
      <aside class="cards">
        
        <img class="img" src="../../assets/page-3/low-angle-shot-facade-white-modern-building-blue-clear-sky.jpg" />
        <aside class="sales">
          <span class="material-icons-round tag">
            local_offer
            </span>
          <h1>Sales</h1>
        </aside>
        <aside class="img-down">
          <aside class="box-1">
            <span class="material-icons-round loc">
              location_on 
              </span>
              <h1>California city,CA,USA</h1>
          </aside>
          <aside class="box-2">
            <span class="material-icons-round vid">
              videocam
              </span>
              <span class="material-icons-round cam">
                photo_camera
                </span>
                <span>07</span>
          </aside>
         
  
        </aside>
        <aside class="texts">
          <aside class="text-1">
              <h1>55 wall st aprt 720 NY</h1>
            <aside class="star">
              
              <span class="material-icons-round starr"> star_rate </span>
              <h1 class="rating">4.5 (5.0)</h1>
            </aside>
          </aside>
          <aside class="text-2">
            <aside class="box-1">
              <span class="material-icons-round b"> bed </span> <h1>4</h1>
              <span class="material-icons-round b"> shower </span><h1>3</h1>
              <span class="material-icons-round b"> zoom_out_map </span><h1>1200 sq ft</h1>
            </aside>
            <aside class="box-2">
              <h1 class="dollar"  style="color: #FD683E;">$ 850,000</h1>
            </aside>
          </aside>
        </aside>
      </aside>
      <aside class="cards">
        
        <img class="img" src="../../assets/page-3/modern-residential-building.jpg" />
        <aside class="sales">
          <span class="material-icons-round tag">
            local_offer
            </span>
          <h1>Sales</h1>
        </aside>
        <aside class="img-down">
          <aside class="box-1">
            <span class="material-icons-round loc">
              location_on 
              </span>
              <h1>California city,CA,USA</h1>
          </aside>
          <aside class="box-2">
            <span class="material-icons-round vid">
              videocam
              </span>
              <span class="material-icons-round cam">
                photo_camera
                </span>
                <span>07</span>
          </aside>
         
  
        </aside>
        <aside class="texts">
          <aside class="text-1">
              <h1>55 wall st aprt 720 NY</h1>
            <aside class="star">
              
              <span class="material-icons-round starr"> star_rate </span>
              <h1 class="rating">4.5 (5.0)</h1>
            </aside>
          </aside>
          <aside class="text-2">
            <aside class="box-1">
              <span class="material-icons-round b"> bed </span> <h1>4</h1>
              <span class="material-icons-round b"> shower </span><h1>3</h1>
              <span class="material-icons-round b"> zoom_out_map </span><h1>1200 sq ft</h1>
            </aside>
            <aside class="box-2">
              <h1 class="dollar"  style="color: #FD683E;">$ 850,000</h1>
            </aside>
          </aside>
        </aside>
      </aside><aside class="cards">
        
        <img class="img" src="../../assets/page-3/charming-yellow-house-with-wooden-windows-green-grassy-garden.jpg" />
        <aside class="sales">
          <span class="material-icons-round tag">
            local_offer
            </span>
          <h1>Sales</h1>
        </aside>
        <aside class="img-down">
          <aside class="box-1">
            <span class="material-icons-round loc">
              location_on 
              </span>
              <h1>California city,CA,USA</h1>
          </aside>
          <aside class="box-2">
            <span class="material-icons-round vid">
              videocam
              </span>
              <span class="material-icons-round cam">
                photo_camera
                </span>
                <span>07</span>
          </aside>
         
  
        </aside>
        <aside class="texts">
          <aside class="text-1">
              <h1>55 wall st aprt 720 NY</h1>
            <aside class="star">
              
              <span class="material-icons-round starr"> star_rate </span>
              <h1 class="rating">4.5 (5.0)</h1>
            </aside>
          </aside>
          <aside class="text-2">
            <aside class="box-1">
              <span class="material-icons-round b"> bed </span> <h1>4</h1>
              <span class="material-icons-round b"> shower </span><h1>3</h1>
              <span class="material-icons-round b"> zoom_out_map </span><h1>1200 sq ft</h1>
            </aside>
            <aside class="box-2">
              <h1 class="dollar"  style="color: #FD683E;">$ 850,000</h1>
            </aside>
          </aside>
        </aside>
      </aside><aside class="cards">
        
        <img class="img" src="../../assets/page-3/house-isolated-field.jpg" />
        <aside class="sales">
          <span class="material-icons-round tag">
            local_offer
            </span>
          <h1>Sales</h1>
        </aside>
        <aside class="img-down">
          <aside class="box-1">
            <span class="material-icons-round loc">
              location_on 
              </span>
              <h1>California city,CA,USA</h1>
          </aside>
          <aside class="box-2">
            <span class="material-icons-round vid">
              videocam
              </span>
              <span class="material-icons-round cam">
                photo_camera
                </span>
                <span>07</span>
          </aside>
         
  
        </aside>
        <aside class="texts">
          <aside class="text-1">
              <h1>55 wall st aprt 720 NY</h1>
            <aside class="star">
              
              <span class="material-icons-round starr"> star_rate </span>
              <h1 class="rating">4.5 (5.0)</h1>
            </aside>
          </aside>
          <aside class="text-2">
            <aside class="box-1">
              <span class="material-icons-round b"> bed </span> <h1>4</h1>
              <span class="material-icons-round b"> shower </span><h1>3</h1>
              <span class="material-icons-round b"> zoom_out_map </span><h1>1200 sq ft</h1>
            </aside>
            <aside class="box-2">
              <h1 class="dollar"  style="color: #FD683E;">$ 850,000</h1>
            </aside>
          </aside>
        </aside>
      </aside>
      <aside class="cards">
        
        <img class="img" src="../../assets/page-3/3d-electric-car-building.jpg" />
        <aside class="sales">
          <span class="material-icons-round tag">
            local_offer
            </span>
          <h1>Sales</h1>
        </aside>
        <aside class="img-down">
          <aside class="box-1">
            <span class="material-icons-round loc">
              location_on 
              </span>
              <h1>California city,CA,USA</h1>
          </aside>
          <aside class="box-2">
            <span class="material-icons-round vid">
              videocam
              </span>
              <span class="material-icons-round cam">
                photo_camera
                </span>
                <span>07</span>
          </aside>
         
  
        </aside>
        <aside class="texts">
          <aside class="text-1">
              <h1>55 wall st aprt 720 NY</h1>
            <aside class="star">
              
              <span class="material-icons-round starr"> star_rate </span>
              <h1 class="rating">4.5 (5.0)</h1>
            </aside>
          </aside>
          <aside class="text-2">
            <aside class="box-1">
              <span class="material-icons-round b"> bed </span> <h1>4</h1>
              <span class="material-icons-round b"> shower </span><h1>3</h1>
              <span class="material-icons-round b"> zoom_out_map </span><h1>1200 sq ft</h1>
            </aside>
            <aside class="box-2">
              <h1 class="dollar"  style="color: #FD683E;">$ 850,000</h1>
            </aside>
          </aside>
        </aside>
      </aside>
    </aside> 
    <aside class="btn">
      <button class="bt">Explore All</button>
    </aside>
  </section>
  
