<section class="container">
    <aside class="box-1">
        <aside class="sub-box-1">
            <img class="img" src="../../assets/why-xene/trust.png">
            <h1>Trustworthy</h1>
        </aside>
        <aside class="sub-box-1">
            <img class="img"src="../../assets/why-xene/project-management.png">
            <h1>High End Technology and <br>Modern Systems</h1>
        </aside>
        <aside class="sub-box-1">
            <img class="img"src="../../assets/why-xene/success (2).png">
            <h1>Smart Contracts makes<br> successful closings</h1>
        </aside>
        <aside class="sub-box-1">
            <img class="img" src="../../assets/why-xene/payment.png">
            <h1>Saves 3-4% on<br> commission and fees</h1>
        </aside>
        <aside class="sub-box-1">
            <img class="img" src="../../assets/why-xene/transparency (2).png">
            <h1>Transparent</h1>
        </aside>
    </aside>
    <aside class="box-2">
        <aside class="sub-box-1">
            <h1 class="why-xene">Why Xene</h1>
        </aside>
        <aside class="sub-box-2">
            <aside class="box-2-sub">
                <img class="img" src="../../assets/why-xene/save-money.png">
                <h1>Fair cost structure</h1>
            </aside>
            <aside class="box-2-sub">
                <img class="img" src="../../assets/why-xene/value.png">
                <h1>AI Driven Valuations</h1>
            </aside>
            <aside class="box-2-sub">
                <img class="img" src="../../assets/why-xene/value.png">
                <h1>AI Driven Valuations</h1>
            </aside>
            <aside class="box-2-sub">
                <img class="img" src="../../assets/why-xene/key.png">
                <h1>Access to entire xene team <br>at the touch of a button</h1>
            </aside>
            <aside class="box-2-sub">
                <img class="img" src="../../assets/why-xene/meeting (1).png">
                <h1>Avoids time consuming<br> appointments</h1>
            </aside>
            <aside class="box-2-sub">
                <img class="img" src="../../assets/why-xene/caution.png">
                <h1>Reduces human error</h1>
            </aside>
            <aside class="box-2-sub">
                <img class="img" src="../../assets/why-xene/machine.png">
                <h1>Virtual Staging</h1>
            </aside>
           
        </aside>
    </aside>
</section>