<section class="container">
    <aside class="title">
      <h1 class="heading">Happy Users</h1>
      <h1 class="foot">Our Success Stories</h1>
    </aside>
    <aside class="boxes">
      <aside class="box-1">
        <aside class="sub">
          <img src="../../assets/happy/Icon metro-quote.svg" />
          <h1 style="color: #515151;">
            Xene’s customer support team was incredibly helpful when I had
            questions<br />
            about a property I was interested in. They were responsive and<br />
            knowledgeable, and they helped me navigate the home buying process
            with<br />
            ease. I would recommend Xene to anyone looking to buy or sell a home.
          </h1>
        </aside>
        <aside class="sub-2">
          <aside class="inv">
            <h1></h1>
          </aside>
          <aside class="cont">
            <img
              class="img"
              src="../../assets/happy/young-bearded-man-with-striped-shirt.jpg"
            />
            <aside class="texts">
              <h1 class="name">Chris</h1>
              <h1 style="font-size: 1rem; color: ;">Buyer</h1>
            </aside>
          </aside>
        </aside>
      </aside>
      <aside class="box-1">
        <aside class="sub">
          <img src="../../assets/happy/Icon metro-quote.svg" />
          <h1 style="color: #515151;">
            I was able to sell my home quickly and at a fair price thanks to Xene. Their<br> platform made it easy to connect with potential buyers, and I received<br> multiple offers within days of listing my property. I highly recommend Xene<br> to anyone looking to sell their home
          </h1>
        </aside>
        <aside class="sub-2">
          <aside class="inv">
            <h1></h1>
          </aside>
          <aside class="cont">
            <img
              class="img"
              src="../../assets/happy/young-bearded-man-with-striped-shirt.jpg"
            />
            <aside class="texts">
              <h1 class="name">Chris</h1>
              <h1 style="font-size: 1rem; color: ;">Seller</h1>
            </aside>
          </aside>
        </aside>
      </aside>
    </aside>
  </section>
  