<section class="container">
    <aside class="box-1">
        <h1 class="heading">How it works</h1>
        <h1 class="foot"> Here’s a quick overview of the process, from start to finish.</h1>
    </aside>
    <aside class="box-2">
        <aside class="sub-box-1">
            <h1>Buyer</h1>
            <img class="arrow" src="../../assets/howit works/download.png">
        </aside>

        <aside class="sub-box-2">
            <aside class="sub">
                <img src="../../assets/howit works/Path 50195.png">

            </aside>
            <aside class="sub-2">
                <aside class="sub-2-sub-1">
                    <img  src="../../assets/howit works/search-house (1).png">
                    <h1>Search<br> for a property</h1>
                </aside>
                <aside class="sub-2-sub-2">
                    <img src="../../assets/howit works/real-estate (1).png">
                    <h1>Save your<br> favorite properties</h1>

                </aside>
                <aside class="sub-2-sub-3 ">
                    <img src="../../assets/howit works/smart-house.png">
                    <h1>Tour properties<br> Virtually</h1>
                </aside>
                <aside class="sub-2-sub-4">
                    <img src="../../assets/howit works/keyboard.png">
                    <h1>Tour at the<br> touch of a button</h1>
                </aside>
                <aside class="sub-2-sub-5">
                    <img src="../../assets/howit works/smart-house.png">
                    <h1>Make An Offer</h1>
                </aside>
                <aside class="sub-2-sub-6">
                    <img src="../../assets/howit works/document.png">
                    <h1>Inspections, <br>Appraisal, Closing</h1>
                </aside>
                <aside class="sub-2-sub-7">
                    <img  src="../../assets/howit works/home-service (1).png">
                    <h1>Move Into<br> Your New Home</h1>
                </aside>


            </aside>
            


        </aside>
    </aside>
    <aside class="box-2">
        <aside class="sub-box-1">
            <h1>Seller</h1>
            <img class="arrow" src="../../assets/howit works/download.png">
        </aside>

        <aside class="sub-box-2">
            <aside class="sub">
                <img src="../../assets/howit works/Path 170532.png">

            </aside>
            <aside class="sub-2">
                <aside class="sub-2-sub-8">
                    <img src="../../assets/howit works/account.png">
                    <h1>Sign Up</h1>
                </aside>
                <aside class="sub-2-sub-9">
                    <img src="../../assets/howit works/forward.png">
                    <h1>Post property</h1>

                </aside>
                <aside class="sub-2-sub-10">
                    <img src="../../assets/howit works/feedback (1).png">
                    <h1>Verification<br> Process</h1>
                </aside>
                <aside class="sub-2-sub-11">
                    <img src="../../assets/howit works/chat (6).png">
                    <h1>Xene Photos, Digital Twin<br> and Marketing Media Created.</h1>
                </aside>
                <aside class="sub-2-sub-12">
                    <img src="../../assets/howit works/smart-house.png">
                    <h1>Virtual Tours</h1>
                </aside>
                <aside class="sub-2-sub-13">
                    <img src="../../assets/howit works/real-estate-agent (1).png">
                    <h1>Visit in Person</h1>
                </aside>
               


            </aside>
            


        </aside>
    </aside>
</section>
