<section class="container">
    <aside class="main-box">
        <aside class="box-1">
            
            <aside class="heading">
                <aside class="inv">
                    <h1></h1>
                </aside>
              
            </aside>
           
            <aside class="text">
                <h1 class="head">Discover<br> XeneHomes<br> Categories </h1>
                <h1 class="para">Find homes you would never<br> Have known to search for.</h1>
                <aside class="butn">
                    <button class="btn">Explore More</button>
                </aside>
        
            </aside>
           
    
        </aside>
      
        <aside class="box-2">
            <img class="img" src="../../assets/page-2/Screenshot 2023-03-20 093934.png">
        </aside>

    </aside>
  
</section>
