.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Lato", sans-serif;

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    box-shadow: 0px 19px 50px -25px rgba(0, 0, 0, 0.1);
    .sec {
      ul {
        display: flex;
        gap: 1em;
        list-style-type: none;
        text-decoration: none;
        color: red;

        .list__item {
          .nav__link,
          .btn {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
  .box {
    display: flex;
    align-items: initial;
    height: 76vh;
    justify-content: space-around;
     flex-direction: column; 
    width: 65%;
    .sub-1 {
      padding: 1.2em;
      background: rgb(222, 222, 222);
      border-radius: 4px;
      display: flex;
      width: 3em;
      align-items: center;
      justify-content: center;


      a {
        text-decoration: none;
        color: gray;
      }
    }
    .sub-2 {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2em;
      .img {
        width: 5em;      
      }
      .head-1 {
        font-size: 1.4rem;
      }
      .head-2 {
        font-size: 1rem;
        font-weight: 400;
      }
      .search {
        display: flex;
        gap: 2em;
        input {
          gap: 2em;
          flex-direction: row;
          padding: 1.5em 4em 1.5em 4em;
          border: 2px solid #e7f1f2;
          color: #515151;
          border-radius: 7px;
        }
      }
      .c-btn {
        flex-direction: row;
        padding: 1em 7em 1em 7em;
        border: 2px solid #e7f1f2;
        color: #515151;
        background-color: #F2F1F3;
        border-radius: 7px;
       text-decoration: none;
      }
    }
  }
}
