<section class="container">
    <aside class="header">
        <aside class="logo">
            <img src="../../../../assets/user-register/Screenshot 2023-04-03 102048.png">
        </aside>
        <aside class="sec">
            <ul>
                <li class="list__item" ><a class="nav__link" href="#">Back to Home</a></li>
                <li class="list__item"><a class="nav__link" href="#">Help</a></li>
                <li class="list__item"><a class="btn" href="#">Contact Us</a></li>
            </ul>
        </aside>      
          
    </aside>
    <aside class="box">
        <aside class="sub-1">
            <a href="#">Back</a>
        </aside>
        <aside class="sub-2">
            <img class="img" src="../../../../assets/user-register/derick-daily-3prIF_-eDM0-unsplash.png">
            <h1 class="head-1">Hello There! Welcome To Xene Homes</h1>
            <h1 class="head-2">I'm Diana, Your personal assistant. I'm here to help you find what you need.</h1>
            <h1 class="head-1">What Is Your Name?</h1>
            <aside class="search">
                <input type="text"  placeholder="First name" >
                <input type="text"  placeholder="Last name">
            </aside>
            <a class="c-btn" href="users/register/user-avail">Continue</a>
        </aside>
    </aside>
</section>
