<section class="main-container">
    <aside class="box-1">
        <aside class="logo">
            <h1>XENE</h1>

        </aside>
        <aside class="logo-text">
            <h1 class="main-head">Real Estate Reinvented</h1>
            <h1 class="para">Xene Home helps you get your dream faster.</h1>
            <button class="btn">Get Started</button>

        </aside>
       
    </aside>
    <aside class="box-3">
        <img class="first" src="../../assets/page-1/Left-img.svg">
        <img  class="second" src="../../assets/page-1/sitting-bench.svg">
        <img   class="third" src="../../assets/page-1/car.svg">
        <img class="fourth" src="../../assets/page-1/Right-img.svg">
    </aside>
</section>
<section class="header-foot">
    <aside class="main-box">
        <aside class="box-1">
            
           <button class="btn-1">Buy</button>
           <button class="btn-2">Rent</button>
        </aside>
        <aside class="box-2">
            <aside class="sub-1">
                <aside class="inv">
                    <h1></h1>

                </aside>
                <aside class="texts">
                    <h1>Search</h1>
                    <h1>Enter Keyword</h1>

                </aside>
               
            </aside>
            <aside class="sub-2">
                
                <h1>Search for</h1>
                <aside class="super-sub">
                    <h1>Property Type</h1>
                    <span class="material-icons-round">
                        keyboard_arrow_down
                        </span>
                </aside>
            </aside>
            <aside class="sub-2">
                <h1>Location</h1>
                <aside class="super-sub-2">
                    <h1>New York</h1>
                    <span class="material-icons-round">
                        keyboard_arrow_down
                        </span>
                </aside>
            </aside>
            <aside class="sub-2">
                <h1>Price</h1>
                <aside class="super-sub-2">
                    <h1>$ 302,00</h1>
                    <span class="material-icons-round">
                        keyboard_arrow_down
                        </span>
                </aside>
            </aside>
            <aside class="sub-3">
                <button>
                    <span class="material-icons-round">
                        search
                        </span>
                        search
    
                </button>
                <aside class="inv">
                    <h1></h1>

                </aside>
                
            
            </aside>
    
        </aside>

    </aside>
    
</section>