<section class="main-container">
    <aside class="box-1">
        <aside class="sub-box-1">
            <aside class="logo">
                <img src="../../../../assets/login/Screenshot 2023-03-27 111044.png">
            </aside>
            <aside class="input">
                <input placeholder="Buyer Username" class="username ">
                <aside class="pass">
                    <input placeholder="password" class="password ">
                    <span class="material-icons-round eye">
                        visibility_off
                        </span>
                </aside>
            </aside>
            <aside class="radio">
                <aside class="remember">
                    <input type="checkbox" class="check">
                    <h1>Remember Me</h1>
                </aside>
                <aside class="forgot">
                    <a href="#">Forgot password</a>
                </aside>
            </aside>

            <aside class="signup">
                <a href="#">Sign in</a>
            </aside>
            <aside class="yet">
                <h1>Not registered yet<span style="color:#FD683E ;">Create an account</span></h1>
                <aside class="logos">
                    <h1>or connect with</h1>
                    <aside class="images">
                        <img src="../../../../assets/login/Group 39634.svg">
                        <img src="../../../../assets/login/Group 80600 (1).svg">
                    </aside>
              
                    

                </aside>
            </aside>
        </aside>
        <aside class="sub-box-2">
            <aside class="one">
                <img src="../../../../assets/login/home.png">

            </aside>
            <aside class="two">
                <img src="../../../../assets/login/boy.png">

            </aside>
        </aside>
      
    </aside>
</section>
