.container{
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
    font-family: "Lato", sans-serif;
    background-color: black;
    opacity: 0.9;

    .box-1{
        display: flex;
        gap: 64em;
        position: relative;
        top: 2em;
    }
    .box-2{
        display: flex;
       gap: 9em;
       align-items: baseline;
       color: white;
       
       
        .sub-1{
           
            ul{
                list-style-type: none;
                line-height: 3em;

            }
          
        }
      
        .sub-2{
            display: flex;
            flex-direction: column;
            font-size: 1.3rem;
            gap: 3em;
            h1{
                font-weight: 100;
            }
            .sub-sub-1{
                display: flex;
                gap: 2em;
                .text-1,.text-2{
                    display: flex;
                    flex-direction: column;
                    gap: 0.6em;
                }
                
            }
            .sub-sub-2{
                display: flex;
                flex-direction: column;
                gap: 1em;
              .search{
                padding: 1.8em 0.5em 1.8em 0.7em;
                border-radius: 9px;
                border: none;
              }
                
            }
            .sub-sub-3{
                display: flex;
                flex-direction: column;
                gap: 1em;
                .text{
                    h1{
                        font-weight: 100;
                    }
                }
                .logos{
                    display: flex;
                    gap: 2em;
                   
                   .apple{
                    border: 2px solid #4A4A4A;
                    display: flex;
                    padding: 0.6em 1.8em 0.6em 1.8em;
                    border-radius: 5px;

                    align-items: center;
                    gap: 0.7em;
                    font-size: 1rem;
                    font-weight: 100;
                    line-height: 1em;
                    .app{
                        font-size: 2rem;
                    }
                   }
                   .play{
                    border: 1px solid #4A4A4A;
                    display: flex;
                    padding: 0.5em 1.8em 0.5em 1.6em;
                    border-radius: 5px;
                    align-items: center;
                    gap: 0.7em;
                    .app{
                        font-size: 1.7rem;
                    }
                   }
                }

            }
        }
    }
    .box-3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
       gap: 52em;
        .sub-1{
            display: flex;
            align-items: center;
            font-size: 0.7rem;
            gap: 1em;
            h1{
                font-weight: 200;
                font-size: 0.8rem;

            }
        }
        .sub-2{
            font-size: 0.7rem;
            ul{
                display: flex;
                flex-direction: row;
                gap: 2em;
                color: #B7B7B7;
               

            }
           
        }
    }
}