<section class="container">
    <aside class="box-1">
        <img src="../../assets/footer/Screenshot 2023-03-29 101850.png">
        <aside class="inv">
            <h1>1</h1>
        </aside>
    </aside>
    <aside class="box-2">
        <aside class="sub-1">
            <ul>
                <li style="color: #B7B7B7;">Popular Search</li>
                <li>Apartment For Rent</li>
                <li>Apartment Low To Hide</li>
                <li>Offices For Buy</li>
                <li>Offices For Rent</li>
                
            </ul>
        </aside>
        <aside class="sub-1">
            <ul>
                <li style="color: #B7B7B7;">Quick Links</li>
                <li>Terms Of Use</li>
                <li>Privacy Policy</li>
                <li>Pricing Plans</li>
                <li>Our Services</li>
                <li>Contact Support</li>
                <li>Careers</li>
                <li>FAQs</li>
                
            </ul>
        </aside>
        <aside class="sub-1">
            <ul>
                <li style="color: #B7B7B7;">Discover</li>
                <li>Miami</li>
                <li>Los Angeles</li>
                <li>Chicago</li>
                <li>New York</li>
                
            </ul>
        </aside>
        <aside class="sub-2">
            <aside class="sub-sub-1">
                <aside class="text-1">
                    <h1 style="color: #B7B7B7;" >Total Free Customer Care</h1>
                    <h1>+1 123 123 8523</h1>
                </aside>
                <aside class="text-2">
                    <h1 style="color: #B7B7B7;">Xene Live Support</h1>
                    <h1>Support@Xenehome.Com</h1>
                </aside>
            </aside>
            <aside class="sub-sub-2">
                <h1 style="color: #B7B7B7;">Keep Yourself Up Todate</h1>
                <input class="search"  type="text" placeholder="Your Email">
                
            </aside>
            <aside class="sub-sub-3">
                <aside class="text">
                    <h1>Apps</h1>

                </aside>
               <aside class="logos">
                <aside class="apple">
                    <i class="fa-brands fa-apple app"></i>
                    <h1>Download on the<br> App store</h1>

                </aside>
                
                <aside class="play">
                    <i class="fa-brands fa-google-play app"></i>
                    <h1>Get it on <br>Google Play</h1>

                </aside>

               </aside>
               
            </aside>
        </aside>
    </aside>
    <aside class="box-3">
        <aside class="sub-1">
            <span class="material-icons-round">
                copyright
                </span>
                <h1>XENE HOME -<span style="color: #B7B7B7;">All Rights Reserved</span></h1>
        </aside>
        <aside class="sub-2">
            <ul>
                <li style="list-style-type: none;">Privacy</li>
                <li>Terms</li>
                <li>Sitemap</li>
            </ul>
        </aside>
    </aside>
</section>
