<section class="container">
    <aside class="box-1">
        <aside class="sub-box-1">
            <img src="../../assets/Benefits/Group 84951.png">
        </aside>
        <aside class="arrow">
            <h1 class="buy">Buyer Benefits</h1>
            <img src="../../assets/Benefits/download.png">

        </aside>
        <aside class="sub-box-2">
            
           
            <h1>
                Say goodbye to spending hours in your real estate agents car driving to<br> homes they decided you should visit. Narrow your search to 1 or 2 <br>properties without ever leaving your home. Tour your top picks in person<br> at the touch of a button rather than at the availability of you agents <br>calendar.
            </h1>
            <button class="btn">Know more</button>
        </aside>
    </aside>
    <aside class="box-2">
        <aside class="arrow">
            <h1 class="buy">Seller Benefits</h1>
            <img src="../../assets/Benefits/download.png">

        </aside>
        <aside class="sub-box-1">
           
           
            <h1>66% Lower Commissions and Fees AI Targeted Marketing Exposure<br> Substantially Less Unqualified and Unnecessary in person Showings.<br> Digital Twin captures your home at its best.</h1>
            <button class="btn">Know more</button>
        </aside>
        <aside class="sub-box-2">
            <img src="../../assets/Benefits/Group 85026.png">
        </aside>
    </aside>
</section>
