<section class="container">
    <aside class="box-1">
        <h1 class="head">Our team has a combined 60+ years of <br>Real Estate Experience.</h1>
        <h1 style="color: #4A4A4A;">Featured residential over 39,000 people work</h1>
    </aside>
    <aside class="box-2">
        <aside class="sub-1">
            <h1 class="head">2000+</h1>
            <h1 class="foot">Listing for sale</h1>
        </aside>
        <aside class="sub-1">
            <h1 class="head">1400+</h1>
            <h1 class="foot">Listing for Rent</h1>
        </aside>
        <aside class="sub-1">
            <h1 class="head">2000+</h1>
            <h1 class="foot">Properties Sold</h1>
        </aside>
    </aside>
</section>

