<section class="main-container">
    <aside class="box-1">
        <aside class="inv">
            <h1></h1>
        </aside>
        <aside class="text">
            <h1 class="head">Instant Everything</h1>
            <h1 class="foot">List Sell Close Repeat</h1>

        </aside>
     
    </aside>
    <aside class="box-2">
        <aside class="seller">
            <h1 class="sell">Seller</h1>
            <img  class="arrow" src="../../assets/phone/seller.png">

        </aside>
        <aside class="tran">
            
            <img src="../../assets/phone/tran.png">
            <h1>Transaction <br>manager</h1>
        </aside>
     
        
        
        <img  class="img" src="../../assets/phone/Group 84562.png">
        <aside class="buyer">
            
            
            <h1>Buyer</h1>
            <img src="../../assets/phone/buyer.png">
        </aside>
        <aside class="builder">
            
            
            <h1>Builder</h1>
            <img src="../../assets/phone/builder.png">
        </aside>
        <aside class="banker">
            
            <img src="../../assets/phone/banker.png">
            <h1>Banker</h1>
        </aside>
        
    </aside>
</section>

