
  <section class="main-container">

    <aside class="box-1">
      <aside class="inv">
        <h1></h1>
      </aside>
      <ul>
        <li>Home</li>
        <li>Category</li>
        <li>Xene Builders</li>
        <li>
          List Property
          <button class="btn">Free</button>
        </li>
      </ul>
    </aside>
    <aside class="box-2">
      
       <a href="/users/register/login">Log in</a>
      
      <button class="bt" routerLink='/users/register/user-register' >
        Try it now
        <span class="material-icons-round arrow"> navigate_next </span
        ><span class="material-icons-round arrow"> navigate_next </span>
      </button>
      
      <aside class="inv">
        <h1></h1>
      </aside>
    </aside>
  </section>

